::ng-deep ion-toolbar {
  --background: #6a1b9a;
  --color: white;
}

.w3-purple {
  background-color: #6a1b9a !important;
  color: white;
}

.w3-button ion-icon {
  vertical-align: middle;
  margin-right: 4px;
}
