<ion-header class="ion-no-border">
  <div class="top-bar">
    <img src="../../assets/college.png" alt="JGI Logo" class="logo" />

    <h1 style="color: white; text-align: center;padding-right: 100px;"><b>Global Excellence College</b></h1>
   
     <ion-button color="warning" size="small" routerLink="/register">Apply Online 2025</ion-button>
    <!-- <div class="top-text">
      <h2>Global Excellence College</h2>
      <p>Jharkhand</p>
    </div> -->

    <!-- <div class="top-right">
      <div class="contact">
        <p>Admission Helpline: <strong>7371037371 / 0657-2220285</strong></p>
        <p>24x7 Helpline: <strong>7677922227 / 7283000220</strong></p>
      </div>
      
      <ion-button color="warning" size="small" routerLink="/register">Apply Online 2025</ion-button>
     
    </div> -->
  </div>

  <ion-toolbar class="main-nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="nav-menu">
        <span>Home</span>
        <span>About Us</span>
        <span>Contact Us</span>
        <span routerLink="/student-login">ADMISSIONS</span>
        <span>Universities</span>
        <span>Recognised Approval</span>
        <span routerLink="/login">Office </span>
        <span routerLink="/register"> Login/Register </span>
       
         <ion-button class="admission-btn" color="danger" routerLink="/register">ADMISSIONS 2025</ion-button>
      </div>
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="banner-text">
      <h1>ADMISSION OPEN 2025</h1>
      <p>Accredited by NAAC with A Grade</p>
      <ion-button color="danger" shape="round" routerLink="/register">Apply Now</ion-button>
    </div>
    <img src="../../assets/college.png" alt="Student" class="banner-img" />
  </div>


   <!-- 🟡 About Section -->
  <section class="about-section">
   
    <div class="about-left">
      <img src="../../assets/ABOUTUS.png" alt="Campus Life" class="about-img" />
      <div class="overlay-text">
        <h3>Join & Experience a Campus Life</h3>
        <h1>That Bustles with Energy</h1>
      </div>
    </div>

    <div class="about-right">
       <h1 style="text-align: center;"><b><u>About Us</u></b></h1>
      <div class="about-header">
        
        <img src="../../assets/college.png" alt="JGI Logo" class="mini-logo" />
        <h1 style="text-align: center;">Global Excellence College</h1>
        <hr />
      </div>
      <p>
        Global Excellence College 
        stands as a beacon of quality education that emphasizes both academic rigor and personal growth.
         Our diverse and inclusive campus community is dedicated to inspiring students to reach their 
         full potential through comprehensive programs spanning arts, sciences, technology, and professional studies. With a strong focus on research, innovation, and real-world application, we prepare our graduates to become leaders and change-makers in their communities and beyond. We are committed to cultivating a supportive environment where faculty and students collaborate to create transformative learning experiences. At Global Excellence College,
         tradition meets modernity to shape the innovators and visionaries of tomorrow.
      </p>
      
      <ion-button fill="clear" color="danger">Read More →</ion-button>
    </div>
  </section>



  <section class="institutes">
    <h2>COURSES OFFERED</h2>
    <div class="courses-container">
      <div class="course-card">
        <img src="../../assets//bca.png" alt="BCA" />
        <div class="overlay">Bachelor of Computer Applications (BCA)</div>
      </div>

      <div class="course-card">
        <img src="../../assets/bba.png" alt="BBA" />
        <div class="overlay">Bachelor of Business Administration (BBA)</div>
      </div>

      <div class="course-card">
        <img src="../../assets/b_com.png" alt="B.Com" />
        <div class="overlay">Bachelor of Commerce (B.Com)</div>
      </div>

      <div class="course-card">
        <img src="../../assets/mca.jpg" alt="MCA" />
        <div class="overlay">Master of Computer Applications (MCA)</div>
      </div>

      <div class="course-card">
        <img src="../../assets/mba.png" alt="MBA" />
        <div class="overlay">Master of Business Administration (MBA)</div>
      </div>
    </div>
  </section>





  <!-- affiliated universities -->


  <section class="institutes">
    <h2>Affiliated to Universities</h2>
    <div class="courses-container">
      <div class="course-card">
        <img src="../../assets/Kolhan_University.jpg" alt="BCA" />
        <div class="overlay">Kolhan university</div>
      </div>

      <div class="course-card">
        <img src="../../assets/amity.png" alt="BBA" />
        <div class="overlay">Amity University</div>
      </div>

      <div class="course-card">
        <img src="../../assets/sikkim.png" alt="B.Com" />
        <div class="overlay">Sikkim Manipal University</div>
      </div>

      <div class="course-card">
        <img src="../../assets/amity.png" alt="MCA" />
        <div class="overlay">Master of Computer Applications (MCA)</div>
      </div>

      <div class="course-card">
        <img src="../../assets/mba.png" alt="MBA" />
        <div class="overlay">Master of Business Administration (MBA)</div>
      </div>
    </div>
  </section>




  <!-- Our Recruiters Section -->
<section class="recruiters">
  <h2>OUR RECRUITERS</h2>
  <div class="recruiters-container">
    <div class="recruiter-card">
      <img src="../../assets/ugc.jpeg" alt="ugc" />
    </div>
    <div class="recruiter-card">
      <img src="../../assets/All_India_Council_for_Technical_Education_logo.png" alt="aicte" />
    </div>
    <div class="recruiter-card">
      <img src="../../assets/images.jpeg" alt="naac" />
    </div>
    <div class="recruiter-card">
      <img src="../../assets/aiu.png" alt="aiu" />
    </div>
   
   
  </div>
</section>


<!-- Footer Section -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <h3>About Us</h3>
      <p>
        Global Excellence College 
        stands as a beacon of quality education that emphasizes both academic rigor and personal growth.
         Our diverse and inclusive campus community is dedicated to inspiring students to reach their 
         full potential through comprehensive programs spanning arts, sciences, technology, and professional studies. With a strong focus on research, innovation, and real-world application, we prepare our graduates to become leaders and change-makers in their communities and beyond. We are committed to cultivating a supportive environment where faculty and students collaborate to create transformative learning experiences. At Global Excellence College,
         tradition meets modernity to shape the innovators and visionaries of tomorrow.
      </p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Admission</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contact Us</h3>
      <p> Gamharia, Jamshedpur, Jharkhand</p>
      <p> +91 98765 43210</p>
      <p>arkajainuniversity.ac.in</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Global Excellence College . All Rights Reserved.</p>
     <h4 style="color: white">By-Sunam</h4>

  </div>
</footer>


</ion-content>
