<ion-header>
  <ion-toolbar color="tertiary" style="text-align: center;">
    <ion-title>Faculty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>

     
      <!-- Left Column: Form -->
      <ion-col size="12" sizeMd="4">
        <ion-card>
          <ion-card-header color="tertiary">
          
            <ion-card-title class="w3-center">{{ isEditing ? 'Edit' : 'Add' }} Faculty</ion-card-title>

             <div class="w3-center w3-padding-small" style="font-size: 14px;">
    Faculty No: <strong>{{ faculty.faculty_master_id }}</strong>
  </div>
          </ion-card-header>
        <ion-card-content>
  <ion-row>
    <!-- Faculty ID & Department -->
    <ion-col size="12" sizeMd="5">
      <ion-item>
        <ion-label position="floating">Faculty ID</ion-label>
        <ion-input   [(ngModel)]="faculty.faculty_id"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" sizeMd="5">
      <ion-item>
        <ion-label  position="floating">Department</ion-label>
        <ion-select [(ngModel)]="faculty.faculty_department_id">
          <ion-select-option *ngFor="let d of departmentList" [value]="d.id">
            {{ d.department_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <!-- Name & Short Name -->
    <ion-col size="12" sizeMd="6">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="faculty.faculty_name"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" sizeMd="5">
      <ion-item>
        <ion-label position="floating">Short Name</ion-label>
        <ion-input [(ngModel)]="faculty.faculty_shortname"></ion-input>
      </ion-item>
    </ion-col>

    <!-- Email & Aadhar -->
    <ion-col size="12" sizeMd="6">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="faculty.faculty_email"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" sizeMd="5">
      <ion-item>
        <ion-label position="floating">Aadhar</ion-label>
        <ion-input [(ngModel)]="faculty.faculty_aadhar"></ion-input>
      </ion-item>
    </ion-col>

    <!-- Phone & Password -->
    <ion-col size="12" sizeMd="6">
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input [(ngModel)]="faculty.faculty_phone"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" sizeMd="5">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="faculty.faculty_password"></ion-input>
      </ion-item>
    </ion-col>

    <!-- Address Full Width -->
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input [(ngModel)]="faculty.faculty_address"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Action Buttons -->
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" color="success" (click)="saveFaculty()">
        {{ isEditing ? 'Update' : 'Add' }} Faculty
      </ion-button>

      <ion-button expand="block" fill="clear" color="medium" (click)="resetForm()" *ngIf="isEditing">
        Cancel Edit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>

        </ion-card>
      </ion-col>

      <!-- Right Column: List + Search + Pagination -->
      <ion-col size="12" sizeMd="7">
        <ion-card>
  <ion-card-header>
    <ion-card-title class="w3-center">Faculty List</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <!-- Search Bar -->
    <ion-searchbar
      placeholder="Search by name/email/shortname/phone"
      [(ngModel)]="searchTerm"
      (ionInput)="onSearchChange()">
    </ion-searchbar>

    <!-- Table Layout -->
    <ion-grid class="w3-table-all w3-hoverable">
      <!-- Table Head -->
      <ion-row class="table-header" style="background-color: #6a1b9a; color: white; font-weight: bold;">
        
        <ion-col size="1">Sl No.</ion-col>
        
        <ion-col size="2">Name</ion-col>
        <ion-col size="3">Email</ion-col>
        <ion-col size="2">Phone</ion-col>

        <ion-col size="2" class="ion-text-end">Actions</ion-col>
      </ion-row>

      <!-- Table Body -->
      <ion-row *ngFor="let f of filteredFaculty" style="border-bottom: 1px solid #ccc;">
        <ion-col size="1">{{ f.faculty_master_id }}</ion-col>

        <ion-col size="2">{{ f.faculty_name }}</ion-col>

        <ion-col size="3">{{ f.faculty_email }}</ion-col>
        <ion-col size="2">{{ f.faculty_phone }}</ion-col>

        <ion-col size="3" class="ion-text-end">
          <ion-button size="small" fill="clear" color="primary" (click)="editFaculty(f)">EDIT</ion-button>
          <ion-button size="small" fill="clear" color="danger" (click)="deleteFaculty(f.faculty_master_id)">DELETE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Pagination Controls -->
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-button fill="outline" size="small" (click)="changePage(-1)" [disabled]="currentPage === 1">
        PREV
      </ion-button>
      <ion-label class="ion-padding-horizontal">Page {{ currentPage }} / {{ totalPages }}</ion-label>
      <ion-button fill="outline" size="small" (click)="changePage(1)" [disabled]="currentPage === totalPages">
        NEXT
      </ion-button>
    </ion-row>

  </ion-card-content>
</ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
