<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title style="text-align: center;">Pincode Management</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
  <div class="container">
    < Left Side: Form -->
    <!-- <div class="left-side">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Add New Pincode</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form (submit)="addPincode()">
            <div class="w3-row">
              <div class="w3-col m6 s12">
                <ion-item>
                  <ion-label position="floating">Pincode</ion-label>
                  <ion-input type="text" [(ngModel)]="newPincode.pin" name="pin" required></ion-input>
                </ion-item>
              </div>

              <div class="w3-col m6 s12">
                <ion-item>
                  <ion-label position="floating">Locality</ion-label>
                  <ion-input type="text" [(ngModel)]="newPincode.locality" name="locality" required></ion-input>
                </ion-item>
              </div>
            </div> -->

            <!-- <div class="w3-row">
              <div class="w3-col m6 s12">
                <ion-item>
                  <ion-label position="floating">Area</ion-label>
                  <ion-input type="text" [(ngModel)]="newPincode.area" name="area" required></ion-input>
                </ion-item>
              </div>

              <div class="w3-col m6 s12">
                <ion-item>
                  <ion-label position="floating">State</ion-label>
                  <ion-input type="text" [(ngModel)]="newPincode.state" name="state" readonly></ion-input>
                </ion-item>
              </div>
            </div>

            <div class="w3-row">
              <div class="w3-col m12 s12">
                <ion-item>
                  <ion-label position="floating">Country</ion-label>
                  <ion-input type="text" [(ngModel)]="newPincode.country" name="country" readonly></ion-input>
                </ion-item>
              </div>
            </div>

            <ion-button expand="full" type="submit" color="success">
              <ion-icon name="add-circle-outline"></ion-icon> Add Pincode
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div> -->

    <!-- Right Side: Stored Data -->
    <!-- <div class="right-side">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Stored Pincode Data</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="table-container">
            <div class="table-header">
              <div class="table-cell">Sl. No</div>
              <div class="table-cell">Pincode</div>
              <div class="table-cell">Locality</div>
              <div class="table-cell">Area</div>
              <div class="table-cell">State & Country</div>
              <div class="table-cell">Actions</div>
            </div>

            <div *ngFor="let pincode of pincodeData; index as idx" class="table-row">
              <div class="table-cell">{{ idx + 1 }}</div>
              <div class="table-cell">{{ pincode.pin }}</div>
              <div class="table-cell">{{ pincode.location }}</div>
              <div class="table-cell">{{ pincode.area }}</div>
              <div class="table-cell">{{ pincode.state }}, {{ pincode.country }}</div>
              <div class="table-cell">
                <ion-icon name="pencil-outline" class="edit-icon" (click)="editPincode(pincode)"></ion-icon>
                <ion-icon name="trash-outline" class="delete-icon" (click)="removePincode(idx)"></ion-icon>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div> -->
  <ion-content class="ion-padding">
    <div class="w3-row container">
  
      <!-- Left Side: Add/Edit Pincode Form -->
      <div class="w3-col l5 m6 s12 left-side">
        <ion-card class="form-card">
          <ion-card-header>
            <ion-card-title class="form-title">
              <ion-toolbar color="tertiary">
                <!-- <ion-buttons slot="start">
                  <ion-back-button defaultHref="/home/kolhan-university"></ion-back-button>Back
                </ion-buttons> -->
                <ion-title style="text-align: center;">ADD Pincode</ion-title>
             
              </ion-toolbar>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item class="input-item">
              <ion-label position="stacked">Pincode</ion-label>
              <ion-input [(ngModel)]="newPincode.pin" placeholder="Enter Pincode"></ion-input>
            </ion-item>
            <ion-item class="input-item">
              <ion-label position="stacked">Locality</ion-label>
              <ion-input [(ngModel)]="newPincode.locality" placeholder="Enter Locality"></ion-input>
            </ion-item>
            <ion-item class="input-item">
              <ion-label position="stacked">Area</ion-label>
              <ion-input [(ngModel)]="newPincode.area" placeholder="Enter Area"></ion-input>
            </ion-item>

            <ion-item class="input-item">
              <ion-label position="stacked">State</ion-label>
              <ion-select
                [(ngModel)]="newPincode.state"
                name="state"
                required
                (ionChange)="fetchCities(newPincode.state)" > <!-- ✅ Corrected position -->
              >
                <ion-select-option [value]="0" disabled>Select State</ion-select-option>
                <ion-select-option *ngFor="let se of st" [value]="se.id">
                  {{ se.state_name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            

            <ion-item class="input-item">
              <ion-label position="stacked">City</ion-label>
              <ion-select [(ngModel)]="newPincode.city_name" name="city" required>
                <ion-select-option [value]="0" disabled>Select City</ion-select-option>
                <ion-select-option *ngFor="let city of cities" [value]="city.id">
                  {{ city.city_name }}
                </ion-select-option>
              </ion-select>
            </ion-item>




  
            <ion-button expand="block" class="add-button" (click)="addPincode()">Submit</ion-button>
         
        
          </ion-card-content>
        </ion-card>
      </div>
  
      <!-- Right Side: Pincode Table -->
     <!-- Pincode Table -->
<div class="w3-col l8 m6 s12 right-side">
  <div class="table-container">
    <!-- Table Header -->
    <div class="table-header">
      <div class="table-cell w3-purple">Sl.No</div>
      <div class="table-cell w3-purple">Pincode</div>
      <div class="table-cell w3-purple">Locality</div>
      <div class="table-cell w3-purple">Area</div>
      <div class="table-cell w3-purple">State</div>
      <div class="table-cell w3-purple">City</div>
      <div class="table-cell w3-purple">Actions</div>
    </div>

    <!-- Table Rows -->
    <div class="table-row" *ngFor="let pincode of pincodeData; let i = index">
      <div class="table-cell">{{ i + 1 }}</div>
      <div class="table-cell">{{ pincode.pin }}</div>
      <div class="table-cell">{{ pincode.locality }}</div>
      <div class="table-cell">{{ pincode.area }}</div>
      <div class="table-cell">{{ getStateName(pincode.state) || 'Jharkhand' }}</div> <!-- ✅ Added missing class -->
      <div class="table-cell">{{ getCityNameq(pincode.city_name) }}</div>

      <div class="table-cell action-icons">
        <ion-icon name="create" class="edit-icon" (click)="openEditModal(pincode)"></ion-icon>
        <ion-icon name="trash" class="delete-icon" (click)="removePincode(pincode.id)"></ion-icon>
      </div>
    </div>
  </div>
</div>
    </div>




    <ion-modal [isOpen]="isEditModalOpen" (ionModalDidDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Edit Pincode</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Update Pincode</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Pincode</ion-label>
              <ion-input [(ngModel)]="editPincodeData.pin"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Locality</ion-label>
              <ion-input [(ngModel)]="editPincodeData.locality"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Area</ion-label>
              <ion-input [(ngModel)]="editPincodeData.area"></ion-input>
            </ion-item>
            <ion-button expand="full" color="success" (click)="updatePincode()">Save Changes</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
    </ion-modal>
    

  </ion-content>
  