<ion-header>
  <ion-toolbar class="w3-red" >
    <ion-title class="w3-xlarge w3-padding">LEARN ENGLISH</ion-title>
  </ion-toolbar >
</ion-header>

<ion-content class="ion-padding w3-center snow-bg">

  <div class="w3-row-padding w3-margin-top w3-center" style="margin-left: 100px;">
    <div class="w3-col s12 m4 w3-padding">
      <div class="card-box w3-white">
        <h2 class="title-red">Alphabets</h2>
        <span class="w3-right w3-small">Videos</span>
      </div>
    </div>

    <div class="w3-col s12 m4 w3-padding">
      <div class="card-box w3-white">
        <h2 class="title-red">Words</h2>
        <span class="w3-right w3-small">Videos</span>
      </div>
    </div>

    <div class="w3-col s12 m4 w3-padding">
      <div class="card-box w3-white">
        <h2 class="title-red">Conversations</h2>
        <span class="w3-right w3-small">Videos</span>
      </div>
    </div>

    <div class="w3-col s12 m4 w3-padding">
      <div class="card-box w3-white">
        <h2 class="title-red">Stories</h2>
        <span class="w3-right w3-small">Videos</span>
      </div>
    </div>

    <div class="w3-col s12 m4 w3-padding">
      <div class="card-box w3-white">
        <h2 class="title-red">Wordlist</h2>
        <span class="w3-right w3-small">Text</span>
      </div>
    </div>

    <div class="w3-col s12 m4 w3-padding">
      <div class="card-box w3-white">
        <h2 class="title-red">Idioms & Proverbs</h2>
        <span class="w3-right w3-small">Text</span>
      </div>
    </div>
  </div>

</ion-content>
